@import '../variables';

.how-it-works {
  padding: $spacing-24 0;
  background-color: rgba($slate-50, 0.5);
  transition: background-color 0.3s;

  .dark & {
    background-color: rgba($slate-800, 0.5);
  }
}
